<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CampahApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><userSettings>
        <CampahApp.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>700, 310</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="lastfile" serializeAs="String">
                <value />
            </setting>
        </CampahApp.Properties.Settings>
    </userSettings>
</configuration>
